#root {
    width: 100vw;
    height: 100vh;
}

.loaderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.squareLoader {
    --c:linear-gradient(lightgray 0 0);
    background: 
      var(--c) 0 0,
      var(--c) 0 50%,
      var(--c) 0 100%,
      var(--c) 50% 0,
      var(--c) 50% 50%,
      var(--c) 50% 100%,
      var(--c) 100% 0,
      var(--c) 100% 50%,
      var(--c) 100% 100%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    animation: sh1 .5s infinite alternate;
  }
  
  @keyframes sh1 {
    0%,20%  {width:45px;height: 45px}
    90%,100%{width:65px;height: 65px}
  }